@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tef2aw');
  src:  url('../fonts/icomoon.eot?tef2aw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tef2aw') format('truetype'),
    url('../fonts/icomoon.woff?tef2aw') format('woff'),
    url('../fonts/icomoon.svg?tef2aw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1password:before {
  content: "\e900";
  color: #0094f5;
}
.icon-codewars:before {
  content: "\e901";
  color: #ad2c27;
}
.icon-coronarenderer:before {
  content: "\e902";
  color: #e6502a;
}
